<head>
	<title>
		PuzzleMe
	</title>
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD/hAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREQAREREREREQAAERERERERAAAREREREREQARERERERAAAAABEREREAAAAAEREQAQAAARAREQAAAAARERERAAAAABEREREQAQAAARARERERAAAAABEREREAAAAAEREREREQAREREREREQAAERERERERAAAREREREREQAREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
</head>